<app-navbar [hide]="true"></app-navbar>

<app-page-mode></app-page-mode>

<main class="form-signup w-100 m-auto">
    <img class="img-fluid p-4" src="../../../assets/img/brandIcon.jpeg" alt="brand icon">
    <form>

        <h2 class="mb-3 fw-bold text-center">Please fill your details</h2>
        <div class="form-floating p-1">
            <label for="firstName">First name</label>
            <input type="text" class="form-control" id="firstName" placeholder="FirstName">
        </div>
        <div class="form-floating p-1">
            <label for="lastName">Last name</label>
            <input type="text" class="form-control" id="lastName" placeholder="LastName">
        </div>
        <div class="form-floating p-1">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" placeholder="name@example.com">
        </div>
        <div class="form-floating p-1">
            <label for="Password">password</label>
            <input type="password" class="form-control" id="Password" placeholder="Password">
        </div>
        <div class="form-floating p-1 mb-3">
            <label for="confirmPassword">Confirm password</label>
            <input type="password" class="form-control" id="ConfirmPassword" placeholder="Confirm Password">
        </div>

        <button class="w-100 btn btn-lg btn-danger" type="submit">Sign up</button>
    </form>
    <p class="p-3">already have an account? <a class="text-primary" routerLink="/login"> Sign In</a></p>
</main>